{namespace neos=TYPO3\Neos\ViewHelpers}
<f:section name="body">
		<div class="preview-content">

	<div role="article">
   <div class="clearfix mbs pbs _1_m">
      <a data-hovercard="/ajax/hovercard/page.php?id=140716475946967&amp;extragetparams=%7B%22hc_location%22%3A%22timeline%22%7D" aria-hidden="true" tabindex="-1" data-ft="{&quot;tn&quot;:&quot;\u003C&quot;}" href="https://www.facebook.com/pages/A-Thousand-Suns/140716475946967?hc_location=timeline" class="_29h _303 _51wa"><img alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/t1.0-1/c14.0.48.48/p48x48/399548_10149999285987789_1102888142_n.png" class="_s0 _50c7 _54rt img"></a>
      <div class="_3dp _29k">
         <h5 data-ft="{&quot;tn&quot;:&quot;C&quot;}" class="_1_s"><span class="fcg"><span class="fwb"><a data-hovercard="/ajax/hovercard/page.php?id=140716475946967" href="https://www.facebook.com/pages/A-Thousand-Suns/140716475946967">Your Facebook Page</a></span> shared a <a onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fneos.demo\u00252Fdownload.html&amp;h=SAQEE59MZAQElYAi6mBuUWGPzU9B8DmY58gE4mCBpxtB-yA&amp;enc=AZPedbFEyspSZ75IFrF32BQRxJLyf58NqdFStThGPgwUJi7hCkLB-WGPU0E8l7kLzgxaszWTJxhp1BAV8tcic6td&amp;s=1&quot;);" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/neos.demo\/download.html&quot;);" rel="nofollow" target="_blank" href="http://l.facebook.com/l.php?u=http%3A%2F%2Fneos.demo%2Fdownload.html&amp;h=SAQEE59MZAQElYAi6mBuUWGPzU9B8DmY58gE4mCBpxtB-yA&amp;enc=AZPedbFEyspSZ75IFrF32BQRxJLyf58NqdFStThGPgwUJi7hCkLB-WGPU0E8l7kLzgxaszWTJxhp1BAV8tcic6td&amp;s=1">link</a>.</span> <span class="fcg"></span></h5>
         <div class="_1_n fsm fwn fcg"><span>Posted by <a id="u_c_1d" href="https://www.facebook.com/appcenter/?app_id=300704070093400" class="uiLinkSubtle" data-hover="tooltip" aria-label="This was posted by someone using TYPO3 Neos Test App.">TYPO3 Neos Test App</a><a role="button" href="#" data-tooltip-alignh="center" aria-label="Only people who manage this Page can see who posted" data-hover="tooltip" class="mls uiHelpLink"></a> · </span><a href="/permalink.php?story_fbid=808406119177996&amp;id=140716475946967" class="uiLinkSubtle"><abbr data-utime="1404153589" title="Monday, June 30, 2014 at 11:39am">June 30</abbr></a><a role="button" href="#" class="uiStreamPrivacy inlineBlock fbStreamPrivacy fbPrivacyAudienceIndicator _1_o" aria-label="Public" data-hover="tooltip"><i class="lock img sp_ZqAcPMn5CYY sx_5332c9"></i></a></div>
      </div>
   </div>
   <div data-ft="{&quot;tn&quot;:&quot;K&quot;}" class="userContentWrapper aboveUnitContent">
      <div class="_wk mbm"><span class="userContent">
                            <f:format.stripTags value="{headNode.properties.title}">
                           
                           </f:format.stripTags></span></div>
   </div>
   <div class="_5rny">
      <div class="_1xw clearfix">
         <a onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fneos.demo\u00252Fdownload.html&amp;h=IAQHDyNzdAQEI65A9ib8k0uTl6lIPCeTL43TnWV_GJ_cFFw&amp;enc=AZN4_FsGgIxoVxw7pNk0JTc3X7eECjaoHf993eGcStev__IVPJ-5sU48d3FZ-r8SgR-qD-QGVcuypHovMQ_khAT9&amp;s=1&quot;);" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/neos.demo\/download.html&quot;);" rel="nofollow" target="_blank" href="http://neos.demo/download.html" class="shareLink _1y0 _5qjs"><img alt="" src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQASd6qzESYjXxIT&amp;w=484&amp;h=253&amp;url=http%3A%2F%2Fwww.cms2cms.com%2Fwp-content%2Fuploads%2F2013%2F05%2Ftypo3logo.jpg&amp;cfs=1" class="img"></a>
         <div class="_1xx _1xz">
            <div class="_bwc">
               <div class="_bwd">
                  <a onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fneos.demo\u00252Fdownload.html&amp;h=xAQHxlxIuAQE9tHdkQvDdfgqKiMaenWhis0hjerALrhb0Fg&amp;enc=AZOri8VhObOFj-_OMa9b8sromMprgC9Osz8OmAg9npiDlwXEFEDxAkYJocxL5u1YIFJjb9N6Xeb7ya703HavBqVd&amp;s=1&quot;);" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/neos.demo\/download.html&quot;);" rel="nofollow" target="_blank" href="http://neos.demo/download.html" class="_2qo3">
                     <div class="_1x-">
                        <div id="u_c_1e" class="_4ysy">
                           <div dir="ltr" class="_1x_ fwb">{node.properties.title}</div>
                           <div class="fsm fwn fcg">
                           
                            
                            <f:format.stripTags value="{textNode.properties.text}">
                           
                           </f:format.stripTags>
                            
                           
                           </div>
                        </div>
                        <div id="u_c_3" dir="ltr" class="_1y1 _3-8x fsm fwn fcg">This is a test blog to test the SocialConnect feature for Neos</div>
                     </div>
                  </a>
               </div>
               <div class="_bwb"></div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</f:section>